/* Header */

.site-header-bg{
}

.site-header {
    display: grid;
    grid-template-areas: 
        'nav nav'
        'title title'
        '. .'
        '. img'
        '. img'
    ;
    height: 400px;
}

.site-navigation {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.site-navigation .flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 1rem;
}

.site-navigation .flex-wrapper .anchor-link{
    padding: .5rem;
}

.site-title{
    grid-area: title;
    font-size: 2.5rem;
}
 
.site-description{
    grid-column: 1/3;
    grid-row: 3/5;
    font-size: 1.5rem;
}

.header-mascot-img{
    grid-area: img;
    height: 200px;
}

.nav-link:hover, .nav-link:focus-visible{
    color: var(--acent-color-e);
    text-decoration-line: underline;
}
