@import "../node_modules/normalize.css/normalize.css";

/*
 * GLOBAL
*/
:root{
  --primary-color-a: #FCF5CE;
  --primary-color-b: #FAE6B8;
  --primary-color-c: #E4CA9D;
  --primary-color-d: #F8D09F;
  --primary-color-e: #F0BA91;

  --secondary-color-a: #767C9C;
  --secondary-color-b: #5B6078;
  --secondary-color-c: #354353;
  --secondary-color-d: #2F313D;
  --secondary-color-e: #1D1F26;

  --acent-color-a: #E6B40B;
  --acent-color-b: #F0A50C;
  --acent-color-c: #D88515;
  --acent-color-d: #F06C0C;
  --acent-color-e: #E6470B;
}

*{
  font-family: inherit;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  color: inherit;
  fill: inherit;
  text-decoration: none;
  list-style: none;
  font-size: .9rem;
  scrollbar-width: thin;
}
*:focus-visible{
    outline: 1px dashed var(--acent-color-a);
}

h1, h2, h3, h4, h5, h6{
  font-size: 1.7rem;
  margin: .4rem 0;
}
/*
 * GLOBAL
*/


/*
 * COLORS
*/
.primary-a-bg{background: var(--primary-color-a);}
.primary-a-text{color: var(--primary-color-a);}
.primary-a-fill{fill: var(--primary-color-a);}

.primary-b-bg{background: var(--primary-color-b);}
.primary-b-text{color: var(--primary-color-b);}
.primary-b-fill{fill: var(--primary-color-b);}

.primary-c-bg{background: var(--primary-color-c);}
.primary-c-text{color: var(--primary-color-c);}
.primary-c-fill{fill: var(--primary-color-c);}

.primary-d-bg{background: var(--primary-color-d);}
.primary-d-text{color: var(--primary-color-d);}
.primary-d-fill{fill: var(--primary-color-d);}

.primary-e-bg{background: var(--primary-color-e);}
.primary-e-text{color: var(--primary-color-e);}
.primary-e-fill{fill: var(--primary-color-e);}

.secondary-a-bg{background: var(--secondary-color-a);}
.secondary-a-text{color: var(--secondary-color-a);}
.secondary-a-fill{fill: var(--secondary-color-a);}

.secondary-b-bg{background: var(--secondary-color-b);}
.secondary-b-text{color: var(--secondary-color-b);}
.secondary-b-fill{fill: var(--secondary-color-b);}

.secondary-c-bg{background: var(--secondary-color-c);}
.secondary-c-text{color: var(--secondary-color-c);}
.secondary-c-fill{fill: var(--secondary-color-c);}

.secondary-d-bg{background: var(--secondary-color-d);}
.secondary-d-text{color: var(--secondary-color-d);}
.secondary-d-fill{fill: var(--secondary-color-d);}

.secondary-e-bg{background: var(--secondary-color-e);}
.secondary-e-text{color: var(--secondary-color-e);}
.secondary-e-fill{fill: var(--secondary-color-e);}

.acent-a-bg{background: var(--acent-color-a);}
.acent-a-text{color: var(--acent-color-a);}
.acent-a-fill{fill: var(--acent-color-a);}

.acent-b-bg{background: var(--acent-color-b);}
.acent-b-text{color: var(--acent-color-b);}
.acent-b-fill{fill: var(--acent-color-b);}

.acent-c-bg{background: var(--acent-color-c);}
.acent-c-text{color: var(--acent-color-c);}
.acent-c-fill{fill: var(--acent-color-c);}

.acent-d-bg{background: var(--acent-color-d);}
.acent-d-text{color: var(--acent-color-d);}
.acent-d-fill{fill: var(--acent-color-d);}

.acent-e-bg{background: var(--acent-color-e);}
.acent-e-text{color: var(--acent-color-e);}
.acent-e-fill{fill: var(--acent-color-e);}

/*
 * COLORS
*/


/* Anchor Links */

.anchor-link:hover, .anchor-link:focus-visible{
    color: var(--acent-color-a);
    text-decoration-line: underline;
} 


/* Butons */

.btn{
    display: block;
    padding: .7rem 2rem;
}

.btn:hover, .btn:focus-visible{
    text-decoration-line: underline;
    opacity: .9;
}

/* Content Wrapper */

.content-wrapper{
    margin: 3rem;
}

/* Header */

.site-header {
    background: rgb(48,48,48);
    background: linear-gradient(45deg, rgba(48,48,48,1) 0%, rgba(77,77,77,1) 100%);
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.site-navigation .flex-wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
}
    
